*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/schemas/com.obrigada_eu.listadecompras.data.database.AppDatabase/16.json
/release/app-release.aab